.dashboard {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    padding: 20px;
    background-color: #222; 
}

.node-information, .balances, .channels {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

h2 {
    color: #4caf50;
}


.channel {
    background-color: #444;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.channel-title {
    text-decoration: underline;
}

.channel-details {
    margin-top: 10px; 
}

.key {
    font-weight: bold; 
}