.home-container {
    margin: 20px;
    border-radius: 8px;
}

.home-content {
    margin: 10px;
}

.home-content h1 {
    color: #007bff;
    margin-bottom: 20px;
}

.home-content h2 {
    color: #17a2b8;
    margin-top: 20px;
}

.home-content p, .home-content ul, .home-content ol {
    font-size: 16px;
    line-height: 1.6;
    color: white;
}

.home-content ul, .home-content ol {
    margin-left: 20px;
}
